<!-- nav -->

<header class="dashboard">
  <div class="container">
    <ul>
      <li>
        <a
          href="/admin"
          class="<%= activeNavItem === 'inicio' ? 'active' : '' %>"
          >Lista de Productos</a
        >
      </li>
      <li>
        <a
          href="/admin/categoria"
          class="<%= activeNavItem === 'categoria' ? 'active' : '' %>"
          >Lista de Categorias</a
        >
      </li>
    </ul>
  </div>
</header>
